* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  background-color: #111111;
  font-family: "Wermut", sans-serif;
  overflow-x: hidden;
  margin: 0 auto;
  position: relative;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 460px;
  letter-spacing: -40px;
  color: white;
  -webkit-text-stroke: 8px #111111;
  text-shadow: 1px #111111;
  paint-order: stroke fill;
}

h2 {
  font-size: 85px;
  letter-spacing: -4px;
  color: #111111;
}

h3 {
  color: #111111;
  font-size: 180px;
}

p {
  color: white;
  font-size: 30px;
  line-height: 130%;
}

/* первая секция */

.sectionFirst {
  display: flex;
  position: relative;
}

.sun {
  width: 274px;
  margin-top: 110px;
  margin-left: 90px;
}

.leaves {
  margin-top: 5px;
  margin-left: -100px;
}

.warning {
  transform: rotate(15deg);
  align-items: center;
  justify-content: center;
  margin-top: 110px;
  margin-left: -220px;
}

.warningText {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: -280px;
  margin-left: 40px;
}

.warning p {
  color: #111111;
  font-size: 21px;
  letter-spacing: -4%;
  text-align: center;
  line-height: 120%;
  margin-top: 180px;
  margin-left: -210px;
}

.warning h2 {
  color: #111111;
  font-size: 21px;
  letter-spacing: -4%;
  text-align: center;
  line-height: 120%;
  transform: rotate(15deg);
}

/* вторая секция  */

.sectionSecond {
  display: flex;
  position: relative;
  margin-left: 20px;
  margin-top: 5px;
}

.headline {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -575px;
  margin-left: -60px;
}

/* третья секция */

.sectionThird {
  display: flex;
  margin-top: -180px;
}

.illustrations {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 1800px;
  height: 1798px;
}

.antique {
  position: absolute;
  margin-left: 110px;
  margin-top: 130px;
}

.antique span {
  font-size: 60px;
}

.bitter {
  position: absolute;
  margin-top: 1480px;
  margin-left: 1060px;
}

.belladonna h4 {
  color: white;
  font-size: 58px;
}

.belladonna p {
  font-size: 41px;
  font-style: italic;
}

.belladonna {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 545px;
  margin-left: 250px;
  line-height: 60px;
}

.venenum {
  position: absolute;
  text-align: center;
  margin-top: 695px;
  margin-left: 895px;
  line-height: 15px;
  letter-spacing: -4px;
}

.venenum p {
  font-size: 60px;
  color: #111111;
}

.venenum h4 {
  font-size: 60px;
  font-style: italic;
  color: #111111;
}

.poison p {
  color: #111111;
  position: absolute;
  font-size: 92px;
  transform: rotate(38deg);
  margin-left: -270px;
  margin-top: 490px;
  letter-spacing: -4px;
}

.board {
  transform: rotate(-13deg);
  position: absolute;
  margin-top: 1045px;
  margin-left: 135px;
  text-align: center;
}

.board h5 {
  font-variant-numeric: oldstyle-nums;
  font-style: italic;
  color: #111111;
  font-size: 34px;
}

.board p {
  color: #111111;
  font-size: 24px;
}

.board h6 {
  color: #111111;
  font-size: 18px;
  padding-top: 16px;
}

.yes {
  display: flex;
  gap: 180px;
  margin-left: -16px;
  margin-top: -132px;
  padding-bottom: 86px;
}

.lovePotion {
  position: absolute;
  text-align: center;
  transform: rotate(-4.5deg);
  margin-top: 1320px;
  margin-left: 300px;
}

.effect {
  color: #111111;
  font-size: 33px;
  font-style: italic;
  letter-spacing: -2px;
  padding-bottom: 20px;
}

.lovePotion h2 {
  color: #111111;
  font-size: 59px;
  letter-spacing: -2px;
  padding-bottom: 15px;
}

.ingridients {
  color: #111111;
  font-size: 22px;
  font-style: normal;
}

/* четвёртая секция */

.sectionFourth {
  display: flex;
  position: relative;
  margin-top: -10px;
}

.sectionFourth img {
  width: 1705px;
  height: 988px;
}

.diacriticsMarks {
  display: flex;
  position: absolute;
  margin-left: 130px;
  margin-top: 135px;
}

.diacriticsMarks p {
  color: #111111;
  font-size: 100px;
  line-height: 140%;
  letter-spacing: 21px;
  text-align: center;
}

.sectionFourth h2 {
  position: absolute;
  font-size: 44px;
  letter-spacing: -1px;
  margin-left: 600px;
  margin-top: 50px;
}

/* пятая секция */

.sectionFifth {
  display: flex;
  position: relative;
  background-image: url(images/section_2_bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 1440px;
  height: 2659px;
  justify-content: center;
  margin-top: -166px;
}

.flag {
  display: flex;
  position: absolute;
  width: 858px;
  height: 279px;
  margin-top: -140px;
  margin-right: 20px;
}

.sectionFifth h2 {
  position: absolute;
  color: white;
  margin-top: -72px;
}

.smallFlags {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 200px;
  margin-top: 178px;
}

.smallFlagsText {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 870px;
  margin-top: 200px;
  margin-left: -20px;
  letter-spacing: -1px;
}

.smallFlagsText p {
  color: #111111;
}

.bright p {
  color: white;
}

.bright {
  position: absolute;
  margin-top: 200px;
}

.gridbox {
  margin-top: 335px;
  align-items: center;
  justify-content: center;
  margin-right: 1440px;
}

.grid {
  position: absolute;
  width: 1440px;
  height: 280px;
}

.gridbox h1 {
  position: absolute;
  margin-top: -187px;
  margin-left: 98px;
  color: white;
  font-size: 501px;
  letter-spacing: -20px;
  -webkit-text-stroke: 8px #111111;
  text-shadow: 1px #111111;
  paint-order: stroke fill;
}

.gridMarks {
  position: absolute;
  margin-left: 75px;
  margin-top: -12px;
}

.darkColor {
  color: #111111;
  position: absolute;
  margin-top: 700px;
  margin-left: -560px;
  letter-spacing: -1px;
}

.dropCap2 {
  font-size: 60px;
}

.etisAtis {
  position: absolute;
  margin-top: 796px;
  margin-left: 69px;
  width: 1456px;
  height: 950px;
}

.yLetter {
  color: #c0c0c0;
  position: absolute;
  font-size: 443px;
  -webkit-text-stroke: 16px #111111;
  text-shadow: 1px #111111;
  paint-order: stroke fill;
  margin-top: 878px;
  margin-left: -890px;
}

.aLetter {
  color: white;
  position: absolute;
  font-size: 647px;
  -webkit-text-stroke: 16px #111111;
  text-shadow: 1px #111111;
  paint-order: stroke fill;
  margin-top: 880px;
  margin-left: -80px;
}

.lLetter {
  color: #111111;
  position: absolute;
  font-size: 444px;
  -webkit-text-stroke: 16px #ffffff;
  text-shadow: 1px #111111;
  paint-order: stroke fill;
  margin-top: 820px;
  margin-left: 820px;
}

.etis {
  position: absolute;
  color: #111111;
  font-size: 30px;
  margin-top: 1480px;
  margin-left: -875px;
  letter-spacing: -1px;
}

.atis {
  position: absolute;
  color: #111111;
  font-size: 30px;
  margin-top: 1410px;
  margin-left: 820px;
  letter-spacing: -1px;
}

.animatis {
  position: absolute;
  color: #111111;
  font-size: 30px;
  margin-top: 1640px;
  margin-left: -40px;
  letter-spacing: -1px;
}

.form {
  color: #111111;
  position: absolute;
  margin-top: 1760px;
  margin-left: -590px;
  letter-spacing: -1px;
}

.numbers p {
  position: absolute;
  color: #111111;
}

.oneNumber {
  position: absolute;
  font-size: 194px;
  margin-top: 1620px;
  margin-left: -445px;
  transform: rotate(-17.5deg);
}

.twoNumber {
  position: absolute;
  font-size: 209px;
  margin-top: 1670px;
  margin-left: -290px;
  transform: rotate(2deg);
}

.threeNumber {
  position: absolute;
  font-size: 258px;
  margin-top: 1770px;
  margin-left: -550px;
  transform: rotate(19deg);
}

.fourNumber {
  position: absolute;
  font-size: 282px;
  margin-top: 1770px;
  margin-left: -410px;
  transform: rotate(-8deg);
}

.fiveNumber {
  position: absolute;
  font-size: 215px;
  margin-top: 1980px;
  margin-left: -480px;
  transform: rotate(-3deg);
}

.sixNumber {
  position: absolute;
  font-size: 152px;
  margin-top: 2100px;
  margin-left: -560px;
  transform: rotate(17deg);
}

.sevenNumber {
  position: absolute;
  font-size: 95px;
  margin-top: 2200px;
  margin-left: -480px;
  transform: rotate(-8deg);
}

.eightNumber {
  position: absolute;
  font-size: 95px;
  margin-top: 2250px;
  margin-left: -550px;
  transform: rotate(22deg);
}

/* шестая секция */

.sectionSixth {
  display: flex;
  position: relative;
  margin-top: -430px;
  padding-bottom: 650px;
}

.numbersText {
  margin-left: 90px;
  margin-top: -36px;
}

.numbersText h2 {
  color: white;
  padding-bottom: 50px;
}

.dropCap3 {
  font-size: 60px;
  letter-spacing: -12px;
}

.steam {
  position: absolute;
  margin-top: 155px;
  margin-left: 872px;
}

.kotel {
  position: absolute;
  margin-left: 540px;
}

.smash {
  position: absolute;
  margin-top: 250px;
  margin-left: 150px;
}

.piNumber {
  position: absolute;
  margin-top: 390px;
  margin-left: 260px;
  font-size: 198px;
}

.soplo {
  position: absolute;
  margin-top: 720px;
  margin-left: 40px;
}

/* седьмая секция */

.sectionSeventh {
  display: flex;
  position: relative;
  background-image: url(images/book.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 1440px;
  height: 1861px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
}

.leftPage {
  transform: rotate(12deg);
  position: absolute;
  margin-top: -650px;
  margin-left: -470px;
}

.leftPage h3 {
  font-size: 64px;
  font-style: italic;
  text-align: center;
  letter-spacing: -2px;
  padding-bottom: 30px;
}

.leftPage p {
  color: #111111;
  font-size: 24.5px;
  font-style: italic;
  text-align: center;
  letter-spacing: -1px;
}

.list {
  position: absolute;
  margin-left: 80px;
  margin-top: 80px;
}

.list p {
  font-style: normal;
  font-size: 26px;
  text-align: left;
}

.kerning {
  margin-top: 53px;
  margin-left: -3px;
  white-space: nowrap;
}

.essentia {
  margin-top: 45px;
  margin-left: 46px;
}

.contrast {
  margin-top: 45px;
  margin-left: 55px;
  white-space: nowrap;
}

.dropsPic {
  position: absolute;
  font-size: 104px;
  margin-top: -440px;
  margin-left: -70px;
}

.smallNumbers {
  font-size: 52px;
  vertical-align: super;
  margin-left: 5px;
  line-height: 1;
  display: inline-block;
}

.kerningPic {
  position: absolute;
  font-size: 104px;
  margin-top: -325px;
  margin-left: -65px;
}

.essentiaPic {
  position: absolute;
  font-size: 104px;
  margin-top: -210px;
  margin-left: -53px;
  font-variant-numeric: oldstyle-nums;
}

.contrastPic {
  position: absolute;
  font-size: 104px;
  margin-top: -89px;
  margin-left: -44px;
}

.rightPage {
  transform: rotate(5deg);
  margin-top: -445px;
  margin-left: 375px;
  text-align: center;
  letter-spacing: -1px;
}

.cooking {
  margin-top: -155px;
  margin-left: -10px;
  position: absolute;
  font-size: 26px;
  white-space: nowrap;
  line-height: 30px;
}

.farenheit {
  position: absolute;
  font-size: 118px;
  font-variant-numeric: oldstyle-nums;
  transform: rotate(2deg);
  margin-top: -98px;
  margin-left: -30px;
  letter-spacing: 1px;
}

.time {
  position: absolute;
  font-size: 34px;
  white-space: nowrap;
  transform: rotate(3deg);
  margin-top: 55px;
  margin-left: 30px;
}

.days {
  position: absolute;
  font-size: 34px;
  transform: rotate(4deg);
  margin-top: 358px;
  margin-left: 40px;
}

.formula {
  position: absolute;
  margin-top: 420px;
  margin-left: -90px;
  font-size: 85px;
  font-variant-numeric: oldstyle-nums;
  transform: rotate(3deg);
  letter-spacing: 1px;
}

.formulaText {
  position: absolute;
  white-space: nowrap;
  font-size: 25px;
  margin-top: 510px;
  margin-left: -40px;
  transform: rotate(3deg);
}

.rightPage p {
  color: #111111;
}

.ball {
  position: absolute;
  margin-left: 510px;
  margin-top: 30px;
}

/* восьмая секция */

.sectionEighth {
  display: flex;
  position: relative;
  margin-top: -270px;
}

.candle {
  position: absolute;
  margin-left: 1125px;
}

.scripts {
  position: absolute;
  margin-top: -140px;
}

.books {
  position: absolute;
  margin-top: 425px;
  margin-left: 40px;
}

.ligatures {
  position: absolute;
  margin-top: 80px;
  margin-left: 180px;
}

.ligaturesText h2 {
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "liga", "clig", "dlig";
  color: #ffffff;
  font-size: 196px;
  transform: rotate(-1deg);
}

.ligatureOne {
  position: absolute;
  margin-left: 380px;
  margin-top: 605px;
}

.ligatureTwo {
  position: absolute;
  margin-left: 625px;
  margin-top: 595px;
}

.ligatureThree {
  position: absolute;
  margin-left: 900px;
  margin-top: 600px;
}

.ligaturesTextSecond h2 {
  color: #111111;
}

.ligatureFour {
  position: absolute;
  margin-left: 390px;
  margin-top: 850px;
}

.ligatureFive {
  position: absolute;
  margin-left: 670px;
  margin-top: 845px;
}

.ligatureSix {
  position: absolute;
  margin-left: 910px;
  margin-top: 823px;
}

/* девятая секция */

.sectionNineth {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 1440px;
  height: 3300px;
  margin: 0 auto;
}

.bigFlagTwo {
  position: absolute;
  margin-top: 1170px;
  margin-left: 280px;
}

.symbols {
  position: absolute;
  margin-top: 1235px;
  margin-left: 530px;
}

.bottle {
  position: absolute;
  margin-top: 1490px;
  margin-left: 245px;
}

.symbolsText {
  position: relative;
  width: 1440px;
  margin-left: 1250px;
}

/* Обрезаем всё что выходит за границы */
.symbolsText > * {
  max-width: 1440px;
}

.symbolsText h1 {
  color: #111111;
  -webkit-text-stroke: 3px #ffffff;
  text-shadow: 1px #ffffff;
  paint-order: stroke fill;
  margin-top: 1490px;
  margin-left: 245px;
  font-size: 250px;
}

.dollar {
  position: absolute;
  transform: rotate(15deg);
  margin-left: -1245px;
  margin-top: -52px;
}

.question {
  position: absolute;
  transform: rotate(-35deg);
  margin-left: -1590px;
  margin-top: 240px;
}

.tilda {
  position: absolute;
  transform: rotate(6.5deg);
  margin-left: -950px;
  margin-top: -100px;
}

.dog {
  position: absolute;
  transform: rotate(-14deg);
  margin-left: -1570px;
  margin-top: 300px;
}

.dog h1 {
  font-size: 200px;
}

.marks {
  position: absolute;
  transform: rotate(-4deg);
  margin-left: -1480px;
  margin-top: 530px;
}

.slash {
  position: absolute;
  transform: rotate(150deg);
  margin-left: -600px;
  margin-top: 1820px;
}

.exclamation {
  position: absolute;
  transform: rotate(4.6deg);
  margin-left: -1260px;
  margin-top: 680px;
}

.smile {
  position: absolute;
  transform: rotate(165deg);
  margin-left: -950px;
  margin-top: 2360px;
}

.ampersand {
  position: absolute;
  transform: rotate(-4.3deg);
  margin-left: -1280px;
  margin-top: 1020px;
}

.figure {
  position: absolute;
  transform: rotate(-112deg);
  margin-left: -1870px;
  margin-top: 2390px;
}

.paragraph {
  position: absolute;
  transform: rotate(-15deg);
  margin-left: -1600px;
  margin-top: 1570px;
}

.pine {
  position: absolute;
  transform: rotate(-15deg);
  margin-left: -1440px;
  margin-top: 1420px;
}

.procent {
  position: absolute;
  transform: rotate(15deg);
  margin-left: -820px;
  margin-top: 1250px;
}

.cross {
  position: absolute;
  transform: rotate(34.5deg);
  margin-left: -620px;
  margin-top: 1580px;
}

.star {
  position: absolute;
  transform: rotate(-14deg);
  margin-left: -780px;
  margin-top: 1180px;
}

.dots {
  position: absolute;
  transform: rotate(-47deg);
  margin-left: -950px;
  margin-top: 1340px;
}

.smileSecond {
  position: absolute;
  transform: rotate(-60deg);
  margin-left: -870px;
  margin-top: 1670px;
}

.pineSecond {
  position: absolute;
  transform: rotate(-15deg);
  margin-left: -440px;
  margin-top: 1070px;
}

.upMark {
  position: absolute;
  transform: rotate(-15deg);
  margin-left: -450px;
  margin-top: 950px;
}

.marksSecond {
  position: absolute;
  transform: rotate(180deg);
  margin-left: 100px;
  margin-top: 2130px;
}

.letter {
  position: absolute;
  transform: rotate(15deg);
  margin-left: -100px;
  margin-top: 440px;
}

.gridMark {
  position: absolute;
  transform: rotate(-45deg);
  margin-left: -920px;
  margin-top: 595px;
}

.dotComa {
  position: absolute;
  transform: rotate(-47deg);
  margin-left: -760px;
  margin-top: 540px;
}

.numberMark {
  position: absolute;
  transform: rotate(5deg);
  margin-left: -380px;
  margin-top: 70px;
}

.numberMark h1 {
  font-size: 200px;
}

.tire {
  position: absolute;
  transform: rotate(90deg);
  margin-left: 650px;
  margin-top: 600px;
}

.tire h1 {
  font-size: 200px;
}

.rule p {
  color: #111111;
  text-align: center;
  font-style: italic;
  font-size: 25px;
  line-height: 25px;
  transform: rotate(40deg);
}

.rule {
  margin-left: 880px;
  margin-top: 1960px;
  position: absolute;
}

.bottleLetters {
  margin-left: 490px;
  margin-top: 2170px;
  position: absolute;
  font-size: 167.5px;
  transform: rotate(-7deg);
  letter-spacing: -15px;
}

/* десятая секция */

.sectionTenth {
  display: flex;
  position: relative;
  margin-top: -550px;
}

.hand {
  position: absolute;
  margin-left: 540px;
}

.handText h1 {
  font-size: 81px;
}

.stars {
  position: absolute;
  margin-left: 600px;
  margin-top: 562px;
}

.piNumberSecond {
  position: absolute;
  margin-left: 660px;
  margin-top: 680px;
}

.omega {
  position: absolute;
  margin-left: 810px;
  margin-top: 160px;
  transform: rotate(-15deg);
}

.nineNumber {
  position: absolute;
  margin-left: 815px;
  margin-top: 290px;
}

.sigma {
  position: absolute;
  margin-left: 845px;
  margin-top: 465px;
}

.ligatureHand {
  position: absolute;
  margin-left: 835px;
  margin-top: 610px;
}

.delta {
  position: absolute;
  margin-left: 990px;
  margin-top: 90px;
}

.infinity {
  position: absolute;
  margin-left: 980px;
  margin-top: 250px;
}

.paragraphHand {
  position: absolute;
  margin-left: 990px;
  margin-top: 445px;
}

.fraction {
  position: absolute;
  margin-left: 960px;
  margin-top: 610px;
}

.lHand {
  position: absolute;
  margin-left: 1145px;
  margin-top: 140px;
}

.dHand {
  position: absolute;
  margin-left: 1120px;
  margin-top: 330px;
}

.pound {
  position: absolute;
  margin-left: 1110px;
  margin-top: 480px;
}

.indent {
  position: absolute;
  margin-left: 1310px;
  margin-top: 360px;
}

.bug {
  position: absolute;
  margin-left: 1270px;
  margin-top: 485px;
}

.crystal {
  position: absolute;
  margin-left: 1250px;
  margin-top: 600px;
}

.beta {
  position: absolute;
  margin-left: 1180px;
  margin-top: 720px;
}

.crossedLetter h1 {
  font-size: 360px;
}

.crossedLetter {
  position: absolute;
  margin-left: 860px;
  margin-top: 730px;
}

.endText {
  position: absolute;
  margin-top: 605px;
  margin-left: 80px;
}

.authors {
  padding-bottom: 70px;
}

.endText p {
  font-size: 36px;
}

.logo {
  position: absolute;
  margin-top: 1110px;
  margin-left: 90px;
}
