* {
  box-sizing: border-box;
}

body {
  width: 1440px;
  display: block;
  background-color: #111111;
  font-family: "Wermut", sans-serif;
  overflow-x: hidden;
  margin: 0 auto;
  position: relative;
}

/* body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(images/BODY_EXAMPLE.svg);
  width: 1440px;
  height: 12043px;
  opacity: 0;
} */

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 460px;
  letter-spacing: -40px;
  color: white;
  -webkit-text-stroke: 8px #111111;
  text-shadow: 1px #111111;
  paint-order: stroke fill;
}

h2 {
  font-size: 85px;
  letter-spacing: -4px;
  color: #111111;
}

h3 {
  color: #111111;
  font-size: 180px;
}

p {
  color: white;
  font-size: 30px;
  line-height: 130%;
}

/* первая секция */

.sectionFirst {
  display: flex;
  position: relative;
}

.sun {
  width: 274px;
  margin-top: 110px;
  margin-left: 90px;
}

.leaves {
  margin-top: 5px;
  margin-left: -100px;
}

.warning {
  transform: rotate(15deg);
  align-items: center;
  justify-content: center;
  margin-top: 110px;
  margin-left: -220px;
}

.warningText {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: -280px;
  margin-left: 40px;
}

.warning p {
  color: #111111;
  font-size: 21px;
  letter-spacing: -4%;
  text-align: center;
  line-height: 120%;
  margin-top: 180px;
  margin-left: -210px;
}

.warning h2 {
  color: #111111;
  font-size: 21px;
  letter-spacing: -4%;
  text-align: center;
  line-height: 120%;
  transform: rotate(15deg);
}

/* вторая секция  */

.sectionSecond {
  display: flex;
  position: relative;
  margin-left: 20px;
  margin-top: 5px;
}

.headline {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -575px;
  margin-left: -60px;
}

/* третья секция */

.sectionThird {
  display: flex;
  margin-top: -180px;
}

.illustrations {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 1800px;
  height: 1798px;
}

.antique {
  position: absolute;
  margin-left: 110px;
  margin-top: 130px;
}

.antique span {
  font-size: 60px;
}

.bitter {
  position: absolute;
  margin-top: 1480px;
  margin-left: 1060px;
}

.belladonna h4 {
  color: white;
  font-size: 58px;
}

.belladonna p {
  font-size: 41px;
  font-style: italic;
}

.belladonna {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 545px;
  margin-left: 250px;
  line-height: 60px;
}

.venenum {
  position: absolute;
  text-align: center;
  margin-top: 695px;
  margin-left: 895px;
  line-height: 15px;
  letter-spacing: -4px;
}

.venenum p {
  font-size: 60px;
  color: #111111;
}

.venenum h4 {
  font-size: 60px;
  font-style: italic;
  color: #111111;
}

.poison p {
  color: #111111;
  position: absolute;
  font-size: 92px;
  transform: rotate(38deg);
  margin-left: -270px;
  margin-top: 490px;
  letter-spacing: -4px;
}

.board {
  transform: rotate(-13deg);
  position: absolute;
  margin-top: 1045px;
  margin-left: 135px;
  text-align: center;
}

.board h5 {
  font-variant-numeric: oldstyle-nums;
  font-style: italic;
  color: #111111;
  font-size: 34px;
}

.board p {
  color: #111111;
  font-size: 24px;
}

.board h6 {
  color: #111111;
  font-size: 18px;
  padding-top: 16px;
}

.yes {
  display: flex;
  gap: 180px;
  margin-left: -16px;
  margin-top: -132px;
  padding-bottom: 86px;
}

.lovePotion {
  position: absolute;
  text-align: center;
  transform: rotate(-4.5deg);
  margin-top: 1320px;
  margin-left: 300px;
}

.effect {
  color: #111111;
  font-size: 33px;
  font-style: italic;
  letter-spacing: -2px;
  padding-bottom: 20px;
}

.lovePotion h2 {
  color: #111111;
  font-size: 59px;
  letter-spacing: -2px;
  padding-bottom: 15px;
}

.ingridients {
  color: #111111;
  font-size: 22px;
  font-style: normal;
}

/* четвёртая секция */

.sectionFourth {
  display: flex;
  position: relative;
  margin-top: -10px;
}

.sectionFourth img {
  width: 1705px;
  height: 988px;
}

.diacriticsMarks {
  display: flex;
  position: absolute;
  margin-left: 130px;
  margin-top: 135px;
}

.diacriticsMarks p {
  color: #111111;
  font-size: 100px;
  line-height: 140%;
  letter-spacing: 21px;
  text-align: center;
}

.sectionFourth h2 {
  position: absolute;
  font-size: 44px;
  letter-spacing: -1px;
  margin-left: 600px;
  margin-top: 50px;
}

/* пятая секция */
