@import "reset.css";
@import "layout.css";

@font-face {
  font-family: "Wermut";
  src: local("Wermut Regular"), local("Wermut"),
    url("/fonts/subset-Wermut.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Wermut";
  src: local("Wermut Italic"), local("Wermut-Italic"),
    url("/fonts/subset-Wermut-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
